@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/segoeui.ttf');
}

* {
  font-family: 'SegoeUI', Helvetica Neue, Helvetica, Arial;
}

span.participant-list-item {
  margin: 10px;
}

.btn.btn-default {
  border-radius: 0;
  background-repeat: no-repeat;
  border-color: lightgray;
  background-color: white;
  background-image: none;
}

.navbar > .container .navbar-brand {
  margin: 0;
}

.container.content {
  margin-bottom: 50px;
}

.container.content label {
  font-size: 14px;
  margin-bottom: 0;
}

label {
  font-weight: bold;
}

input[name=endpoint] {
  min-width: 50%;
}

.center {
  text-align: center;
  vertical-align: middle;
}

div.container {
  margin: 0;
  padding: 0;
}

div.container.content{
  padding-left: 40px;
  padding-right: 40px;
}

.content .form-group {
  margin-bottom: 25px;
}

button.btn {
  background-image: none;
  border-radius: 0;
}

button.btn-default {
  border-color: lightgray;
}

.hugeicon {
  font-size: 60px;
  color: white;
}

.titlerow {
  padding-top: 50px;
  margin-bottom: 10px;
  min-height: 125px;
}

div.titlerow.col-md-12 {
  padding-left: 0;
}

.titlerow h3, .titlerow h1, .titlerow span {
  padding-left: 15px;
  padding-bottom: 5px;
}

.titlerow .fullwidth {
  width: 100%;
}

.titlerow div:first-child, .primary {
  background-color: #0D48FF;
}

div.row {
  margin-top: 10px;
  margin-right: 0;
  margin-left: 0;
}

div.half {
  min-height: 250px;
}

div.col-md-6.half,
.titlerow {
  padding-top: 10px;
  padding-left: 0;
}

div.col-md-6.half:first-child {
  padding-right: 20px;
}

@media (max-width: 900px) {
  div.col-md-6.half:first-child {
    padding-right: 0;
  }
}

div.col-md-6.half:last-child {
  padding-right: 0;
}

div.panel {
  border-radius: 0;
  padding-left: 0;
  box-shadow: none;
}

div.panel-default {
  border: none;
  height: 100%;
}

div.panel-body {
  height: 100%;
}

div.panel-default > .panel-heading,
.panel-body {
  background: #60c4e2;
  border: none;
  color: white;
}

.panel-rect {
  padding: 15px;
  min-height: 125px;
  vertical-align: bottom;
  color: white;
  font-size: 16px;
}

.row.participant-rules.quarternary.panel-rect {
  min-height: 50px;
}

.panel-rect .row {
  margin: 0;
}

.panel-rect a {
  font-size: 16px;
}

.panel-rect a:hover {
  color: blue;
}

.titlerow .panel-rect:first-child {
  margin-left: 0;
}

.secondary {
  background-color: #60c4e2;
}

.tertiary {
  background-color: #FF7F00;
}

.quarternary {
  background-color: #0CE8E0;
}

.pentary {
  background-color: #53A0EC;
}

.panel-rect a {
  color: white;
}

.panel-rect.col-md-5 {
  width: 46%;
}

.panel-rect.col-md-2 {
  margin-left: 1%;
  width: 17%;
}

/*it probably would've been simpler to put a div with margin inside the col-md's*/
@media(max-width: 768px) {
  .panel-rect.col-md-2 {
    width: 100%;
    margin-left: 0;
  }
  .panel-rect.col-md-5 {
    width: 100%;
  }
}

.lists .panel-body.secondary {
  min-height: 215px;
}

.messages .panel-body.tertiary {
  min-height: 100px;
}

input.form-control {
  border-radius: 0;
}

div.form-group {
  width: 100%;
}

.form-horizontal div.form-group {
  margin: 0;
}

.form-group > div {
  padding-left: 0;
}

div.user.container {
  background: url('../img/loginbg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.user .panel {
  margin-top: 50px;
}

.form-group .table {
  margin-top: 25px;
}

.table {
  font-size: 16px;
}

.table > thead > tr .th {
  vertical-align: middle;
}

#participant-error {
  color: red;
}

textarea {
  min-height: 100px;
  width: 100%;
  border-color: lightgrey;
}

textarea.update {
  color: black;
}

.table td a {
  color: white;
}

.table td a:hover {
  color: blue;
  text-decoration: underline;
}

.col-md-4.panel {
  padding-right: 0;
}

.settings input.form-control {
  width: 100%;
}

.settings .panel-rect {
  margin: 100px 0 0 20px;
  height: 100%;
  width: 100%;
}

.underline {
  width: 100%;
  border-bottom: thin solid black;
}

span.glyphicon-remove {
  color: white;
}

span.glyphicon-remove:hover {
  color: red;
  cursor: pointer;
}

.input-group-btn button:hover {
  border-color: #0C7BE8;
}

.panel-rect-hover {
  opacity: 0.7;
  cursor: pointer;
}

.error {
  color: red;
}

.flash {
  text-align: center;
  font-size: 16px;
  height: 50px;
}

.plain {
  background-color: white;
}

.qrcode-box {
  width: 30%;
}

.qrcode-box div:last-child {
  display: inline-block;
}

input[name=item], input[name=participant] {
  border: none;
  color: black;
}

.clickable a {
  display: inline-block;
  width: 100%;
  padding: 15px;
}

.clickable {
  padding: 0;
  font-size: 16px;
}

@media (min-width: 1200px) {
  div.container {
    width: 100%;
  }
}

.user button.btn {
  font-size: 16px;
  padding: 0;
  line-height: 0;
}

.user button[type=submit], .userinfo button[type=submit] {
  margin-top: 30px;
}

/*i put a table in a centered row so this resets*/
table td {
  text-align: left;
}