@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/segoeui.ttf');
}

* {
  font-family: 'SegoeUI', Helvetica Neue, Helvetica, Arial;
}

body {
  padding-top: 50px;
}

span.participant-list-item {
  margin: 10px;
}

.container.content label {
  font-size: 20px;
}

ul#participant-names {
  margin: 15px 0;
  white-space: normal;
}

.center {
  text-align: center;
  vertical-align: middle;
}

div.container {
  margin: 0;
}

div.container.content{
  padding: 40px;
}

.content .form-group {
  margin-bottom: 25px;
}

button.btn {
  border: thin solid;
  background-image: none;
  border-radius: 0;
}

button.btn-default {
  border-color: lightgray;
}

.hugeicon {
  font-size: 60px;
}

.titlerow {
  padding-top: 50px;
  margin-bottom: 10px;
}

div.titlerow.col-md-12 {
  padding-left: 0;
}

.titlerow h3, .titlerow h1, .titlerow span {
  padding-left: 15px;
  padding-bottom: 5px;
}

.titlerow .fullwidth {
  width: 100%;
}

.titlerow div:first-child {
  background-color: #0D48FF;
}

.titlerow div {
  display: inline-block;
}

/*curse you min-height!*/

div.row {
  margin-top: 10px;
  margin-right: 0;
  margin-left: 0;
}

div.half {
  min-height: 300px;
}

div.col-md-6.half,
.titlerow {
  padding-top: 10px;
  padding-left: 0;
}

div.col-md-6.half:first-child {
  padding-right: 20px;
}

@media (max-width: 900px) {
  div.col-md-6.half:first-child {
    padding-right: 0;
  }
}

div.col-md-6.half:last-child {
  padding-right: 0;
}

div.panel {
  border-radius: 0;
}

div.panel-default {
  border: none;
}

div.panel-default > .panel-heading,
.panel-body {
  background: #60c4e2;
  border: none;
  color: white;
}

.panel-body {
  min-height: 215px;
}

.panel-rect {
  padding: 15px;
  min-width: 125px;
  min-height: 125px;
  vertical-align: bottom;
  color: white;
}

.rect8 {
  width: 75%;
}

.rect2 {
  width: 24%;
}

.secondary {
  background-color: #0DFFB2;
}

input.form-control {
  border-radius: 0;
}

.form-group > div {
  padding-left: 0;
}

div.user.container {
  background: url('../img/loginbg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 600px;
}

.user .panel {
  margin-top: 50px;
}

.form-group .table {
  margin-top: 25px;
}

.table {
  font-size: 20px;
}

.table > thead > tr .th {
  vertical-align: middle;
}

nav.navbar-inverse {
  background: none; /*override previous*/
  background-color: black; /*then set new*/
}

nav.navbar-inverse .navbar-brand {
  color: white;
}