<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mobile Scavenger Hunt</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>

    {% assets "css_all" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
  </head>
  <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        {% if session.logged_in %}
          <a href="/hunts" class="navbar-brand">Mobile Scavenger Hunt</a>
        {% else %}
          <span class="navbar-brand disabled-link">Mobile Scavenger Hunt</span>
        {% endif %}
      </div>
      <div class="pull-right">
        {% if not display_login_link %}
          {% if not session.logged_in %}
            <a href="{{ url_for('login') }}">Login</a>
          {% else %}
            <a href="{{ url_for('settings') }}">Settings</a> |
            <a href="{{ url_for('logout') }}">Logout</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </nav>
  <body>
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <p class="bg-{{category}}">{{ message }}</p>
    {% endfor %}
    {% block body %}{% endblock %}

    {% assets "js_all" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>