{% extends "user_layout.html" %}
{% block userbody %}
<div class="userinfo">
  <div>
    Enter your name and email<br>
    (your information will be recorded)
  </div>
  <form action="/register_participant?hunt_id={{hunt_id}}"
        method="POST" id="userinfo-form">
    <div class="form-group">
      {{form.name(placeholder="Name or Alias", class="form-control")}}
    </div>
    <div class="form-group">
      {{form.email(placeholder="email@example.org", class="form-control")}}
    </div>
    <button type="submit" class="btn btn-primary form-control">Submit</button>
  </form>
</div>
{% endblock %}