{% extends "user_layout.html" %}
{% block userbody %}
<div class="userinfo">
  <div>
    <div>Enter your name and email</div><br>
    Your information will be recorded,<br>
    but we will not send you a confirmation email.
  </div>
  <form action="/register_participant?hunt_id={{hunt_id}}"
        method="POST" id="userinfo-form">
    <div class="form-group">
      {{form.name(placeholder="Name or Alias", class="form-control")}}
    </div>
    <div class="form-group">
      {{form.email(placeholder="email@example.org", class="form-control")}}
    </div>
    <div id="confirm-email-msg" style="display: none;">
      You entered <strong><span></span></strong>.<br>
      Go ahead and double check.
    </div>
    <button type="submit" class="btn btn-primary form-control"
            style="display: none;">
      Yes, that's my email.
    </button>
  </form>
  <button id="confirm-email" class="btn btn-primary form-control">
    Submit
  </button>
  <button id="wrong-email" style="display: none;"
          class="btn btn-default form-control">
    No, that's not my email.
  </button>
</div>
{% endblock %}