{% extends "admin_layout.html" %}
{% block adminbody %}
  <div class="container content">
    <div class="row">
      <div class="panel-default titlerow">
        <div class="panel-rect col-sm-12 col-md-5">
          <h2>Your Scavenger Hunts</h2>
        </div>
        <div class="clickable panel-rect tertiary center col-sm-12 col-md-2">
          <a class="center" href="/new_hunt">
            <i class="glyphicon glyphicon-plus hugeicon"></i><br>
            Create Hunt
          </a>
        </div>
        <div class="clickable panel-rect quarternary center col-sm-12 col-md-2">
          <a class="center" href="/settings">
            <i class="glyphicon glyphicon-cog hugeicon"></i><br>
            Settings
          </a>
        </div>
        <div class="clickable panel-rect pentary center col-sm-12 col-md-2">
          <a class="center" href="/logout">
            <i class="glyphicon glyphicon-log-out hugeicon"></i><br>
            Logout
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="panel-default">
        <div class="panel-body">
          <table class="table table-condensed" id="hunts-table">
            <thead>
              <tr>
                <th>Hunt Name</th>
                <th>QR Codes</th>
                <th>Created</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            {% for hunt in hunts | sort(attribute='last_modified', reverse=True) %}
              <tr>
                <td><a href="/hunts/{{hunt.hunt_id}}">{{ hunt.name }}</a></td>
                <td>
                  <a href="/hunts/{{hunt.hunt_id}}/qrcodes">Printable QR Codes <i class="glyphicon glyphicon-print"></i></a>
                </td>
                <td class="uglytime">{{ hunt.date_created }}</td>
                <td>
                  <span class="glyphicon glyphicon-remove"></span>
                  <div class="btn-group pull-right" style="display: none;">
                    <a href="/hunts/{{hunt.hunt_id}}/delete" class="btn btn-danger">
                      Delete Hunt
                    </a>
                    <button class="btn btn-default">
                      Cancel
                    </button>
                  </div>
                </td>
              </tr>
            {% else %}
              <em>No scavenger hunts have been created yet</em>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
