{% extends "admin_layout.html" %}
{% block adminbody %}
  {% if session.logged_in %}
  <div class="container content">
    <form action="{{ '' if hunt else url_for('hunts') }}" method="post"
          class="form-horizontal" role="form" hunt_id={{hunt.hunt_id if hunt else ''}}>
      <div class="col-md-6 col-md-offset-3">
        <h1>Let's create a hunt!</h1>
        {% if error %}
          <p class="alert">Error: {{error}}</p>
        {% endif %}
        {% if form.errors %}
          <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
              {% for error in field_errors %}
                  <li>{{ form[field_name].label }}: {{ error }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        {% endif %}
        <div class="row hunt_name">
          <div class="form-group">
            <h3>What's your hunt's name?</h3>
            {{form.name(class="form-control hunt-name ajax" if hunt else "form-control hunt-name", required=true, value=hunt.name if hunt)}}
          </div>
        </div>
        <div class="row participant-rules">
          <h3>Who can participate?</h3>
          <div class="panel-default" id="participant-rules">
            <div class="col-md-4 col-sm-4 col-xs-4 panel-rect pentary">
              <div class="row">@{{domain}} emails</div>
              <div class="row">
                <span style="display: {{visible if hunt and hunt.participant_rule == 'by_domain' else none}};" class="glyphicon glyphicon-ok pull-right"></span>
                <span style="display: none;">
                  {{ form.participant_rule(type="radio", value="by_domain") }}
                </span>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 panel-rect quarternary">
              <div class="row">Anyone who finds the qrcodes</div>
              <div class="row">
                <span style="display: {{visible if hunt and hunt.participant_rule == 'anyone' else none}};" class="glyphicon glyphicon-ok pull-right"></span>
                <span style="display: none;">
                  {{ form.participant_rule(type="radio", value="anyone") }}
                </span>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 panel-rect secondary">
              <div class="row">Specific emails</div>
              <div class="row">
                <span style="display: {{visible if hunt and hunt.participant_rule == 'by_whitelist' else none}};" class="glyphicon glyphicon-ok pull-right"></span>
                <span style="display: none;">
                  {{ form.participant_rule(type="radio", value="by_whitelist") }}
                </span>
              </div>
            </div>
          </div>
          <input type="hidden" name="participant_rule">
        </div>
        <div class="row" id="whitelist" style="display: none;">
          <div class="form-group" id="participants-group">
            <label>Provide their emails below</label>
            <div class="input-group">
              <input class="form-control" type="email" id="participants-template">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="add-participant">
                  Add
                </button>
              </span>
            </div>
            <div id="participant-error" style="display: none;">
              Please enter a valid email address
            </div>
            <table class="table table-condensed" id="participants-table">
              <thead>
                <tr>
                  <th>Email</th>
<!--                   <th>Registered</th>-->
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label class="control-label">
              {{ form.all_required(type="checkbox", checked="on")}}
              Require finding all items for success
            </label></br>
          </div>
          <div class="form-group" style="display: none;" id="num-items-group">
            <label>Number of items required</label>
            <input type="number" name="num_required" class="form-control" min=0>
          </div>
          <div class="form-group" id="items-group">
            <label>Add items</label>
            <div class="input-group">
              <input class="form-control" type="text" id="{{'ajax-items-template' if hunt else 'items-template'}}">
              <span class="input-group-addon" style="display: {{none if hunt and hunt.all_required}};">
                <label class="label-control">
                  <input type="checkbox" name="item-required"> required
                </label>
              </span>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="{{'ajax-add-item' if hunt else 'add-item'}}">
                  Add
                </button>
              </span>
            </div>
            <table class="table table-condensed" id="items-table" style="display: {{visible if hunt and hunt.hunt_id else none}};">
              <tbody>
                {% if hunt %}
                  {% for item in hunt.items %}
                  <tr class="hunt-item-row" item_id={{item.item_id}}>
                    <td class="item-name">
                      <span>{{item.name}}</span>
                      <input type="text" name="item_name" style="display: none;">
                    </td>
                    <td class="item-required">
                      <input type="checkbox" item_id={{item.item_id}} checked={{item.required}} class="hunt-items" name="items-{{loop.index - 1}}-required">
                      Required
                    </td>
                    <td class="item-delete"><span class="glyphicon glyphicon-remove"></span></td>
                  </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="row panel">
          <h3>Welcome, team!</h3>
          <div class="form-group">
            <textarea class="form-control" name="welcome_message" maxlength=500>{% if hunt and hunt.welcome_message %}{{ hunt.welcome_message }}{% else %}Welcome! You are about to participate in the (your scavenger hunt name). If you don't think you're supposed to do this, tap on 'Oops'. Otherwise, tap on 'Get Started'.{% endif %}</textarea>
          </div>
        </div>
        <div class="row">
          <h3>They finished the hunt! Let's congratulate them.</h3>
          <div class="form-group">
            <textarea class="form-control" name="congratulations_message" maxlength=500>{% if hunt and hunt.welcome_message %}{{ hunt.congratulations_message }}{% else %}Congratulations! You have successfully completed the scavenger hunt.{% endif %}</textarea>
          </div>
        </div>
        <div class="row">
          {% if not hunt %}
          <div class="form-group">
            <button class="btn btn-primary pull-right form-control" type="submit">
              Submit Hunt
            </button>
          </div>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
  {% endif %}
{% endblock %}