{% extends "admin_layout.html" %}
{% block adminbody %}
  {% if session.logged_in %}
  <div class="container content">
    <div class="row">
      <div class="panel-default titlerow">
        <div class="panel-rect col-sm-12 col-md-5">
          <h1>{{hunt.name}}</h1>
          Created:<span class="uglytime">{{hunt.date_created}}</span> <!-- filter me later -->
        </div>
        <div class="panel-rect tertiary center col-sm-12 col-md-2">
          <a class="center" href="/hunts">
            <i class="glyphicon glyphicon-list-alt hugeicon"></i><br>
            Hunts
          </a>
        </div>
        <div class="panel-rect quarternary center col-sm-12 col-md-2">
          <a class="center" href="/settings">
            <i class="glyphicon glyphicon-cog hugeicon"></i><br>
            Settings
          </a>
        </div>
        <div class="panel-rect pentary center col-sm-12 col-md-2">
          <a class="center" href="/logout">
            <i class="glyphicon glyphicon-log-out hugeicon"></i><br>
            Logout
          </a>
        </div>
      </div>
    </div>
    <div class="row lists">
      <div class="col-md-6 half">
        <div class="panel-default">
          <div class="panel-body secondary">
            <table class="table table-condensed" id="participants-table">
              {% for participant in hunt.participants %}
              <tr>
                <td>{{participant.name or ''}}</td>
                <td>{{participant.email}}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        <div class="secondary" style="height: 45px; color: white;">
          <div class="col-md-10">
            <div class="input-group">
              <input class="form-control" type="email" id="more-participants">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="more-participants-btn">
                  Add
                </button>
              </span>
            </div>
          </div>
          <div class="col-md-2">
            <div class="pull-right">
              <span class="glyphicon glyphicon-user" style="font-size: 35px;"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 half">
        <div class="panel-default">
          <div class="panel-body secondary">
            <table class="table table-condensed" id="items-table">
              <tbody>
                {% for item in hunt.items %}
                <tr>
                  <td class="item-required">
                    {% if item.required %}
                    <span class="glyphicon glyphicon-ok"></span>
                    {% endif %}
                  </td>
                  <td>{{item.name}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <span style="font-size: 18px;">
            {% if hunt.all_required %}
              All items required for participant to be successful
            {% else %}
              Only some items required for participant to be successful
            {% endif %}
            </span>
          </div>
        </div>
        <div class="secondary" style="height: 45px; color: white;">
          <div class="col-md-10">
            <div class="input-group">
              <label class="sr-only">New Item</label>
              <input class="form-control" type="email" id="more-items">
              <span class="input-group-addon">
                <label class="label-control">
                  <input type="checkbox" name="item-required"> required
                </label>
              </span>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="more-items-btn">
                  Add
                </button>
              </span>
            </div>
          </div>
          <div class="col-md-2">
            <div class="pull-right">
              <span class="glyphicon glyphicon-th-list" style="font-size: 35px;"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row messages">
      <div class="col-md-4 panel welcome">
        <div class="panel-default">
          <div class="panel-body tertiary">
            <div id="welcome-msg">{{hunt.welcome_message}}</div>
            <textarea style="display: none;"
                      id="update-welcome" class="update"></textarea>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        placeholder
      </div>
    </div>
    <div class="row messages">
      <div class="col-md-4 panel">
        <div class="panel-default">
          <div class="panel-body tertiary">
            {{hunt.congratulations_message}}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        placeholder
      </div>
    </div>
  </div>
  <script>var hunt_id = '{{hunt.hunt_id}}';</script>
  {% endif %}
{% endblock %}