{% extends "user_layout.html" %}
{% block userbody %}
  <div class="state-messages">
  {% if state['num_found'] %}
    {% if item %}
      {{username}}! You found {{item.name}}{% if found_again %} again{% endif %}.<br>
      {% if num_remaining > 0 %}
        You still have {{num_remaining}}
        {% if num_remaining > 1 %} items {% else %} item {% endif %}
        left to find out of {{state['total_items']}}.
      {% endif %}
    {% endif %}
  {% endif %}
  {% if state['hunt_completed'] %}
    {% if previously_completed %}
      <div class="congrats-message">You have already completed the hunt.</div>
    {% else %}
      <div class="congrats-message">{{congratulations}}</div>
    {% endif %}
  {% endif %}
  </div>
  <table class="table">
    <thead class="secondary">
      <th>Item</th>
      <th>Required</th>
      <th>Found</th>
    </thead>
    <tbody>
    {% for current in items %}
      <tr>
        <td>{{current.name}}</td>
        <td>
          <span style="display: {{visible if current.required else none}};"
                class="glyphicon glyphicon-ok"></span>
        </td>
        <td>
          <span style="display: {{visible if current.item_id in state['found_ids'] else none}};"
                class="glyphicon glyphicon-ok"></span>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
