{% extends "user_layout.html" %}
{% block userbody %}
  {% if total_items and num_found %}
    {{username}}! you found {{item.name}}<br>
    you still have {{total_items - num_found}} items left to find out of {{total_items}}
  {% endif %}
  <table class="table">
    <thead>
      <th>Item Name</th>
      <th>Required</th>
      <th>Found</th>
    </thead>
    <tbody>
    {% for item in items %}
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.required}}</td>
        <td>
          <span style="display: {{visible if item.found else none}};"
                class="glyphicon glyphicon-ok"></span>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
