{% extends "user_layout.html" %}
{% block userbody %}
  <div class="state-messages">
  {% if state['hunt_completed'] %}
    <div class="congrats-message">{{congratulations}}</div>
  {% endif %}
  {% if state['num_found'] %}
    {% if item %}
      {{username}}! you
      {% if state['hunt_completed'] %}
        have completed the hunt but also
      {% endif %}
      found {{item.name}}<br>
      {% if num_remaining > 0 %}
        you still have {{num_remaining}}
        {% if num_remaining > 1 %} items {% else %} item {% endif %}
        left to find out of {{state['total_items']}}
      {% endif %}
    {% endif %}
  {% endif %}
  </div>
  <table class="table">
    <thead class="secondary">
      <th>Item</th>
      <th>Required</th>
      <th>Found</th>
    </thead>
    <tbody>
    {% for current in items %}
      <tr>
        <td>{{current.name}}</td>
        <td>
          <span style="display: {{visible if current.required else none}};"
                class="glyphicon glyphicon-ok"></span>
        </td>
        <td>
          <span style="display: {{visible if current.item_id in state['found_ids'] else none}};"
                class="glyphicon glyphicon-ok"></span>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
