{% extends "admin_layout.html" %}
{% block adminbody %}
  <h2>Login</h2>
  {% if error %}<p class="alert"><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('login') }}" method="post">
    <dl>
      <dt>Username:
      <dd><input type="text" id="username" name="username" autofocus required>
      <script>
        if (!("autofocus" in document.createElement("input"))) {
          document.getElementById("username").focus();
        }
      </script>
      <dt>Password:
      <dd><input type=password name="password" required>
      <dd><input type=submit value="Login">
    </dl>
  </form>
{% endblock %}