{% extends "admin_layout.html" %}
{% block adminbody %}
  <h2>Login</h2>
  {% if error %}
    <p class="alert"><strong>Error:</strong> {{ error }}
  {% endif %}
  <form action="{{ url_for('login') }}" method="POST">
    <dl>
      <dt>{{form.username.label}}
      <dd>{{form.username(type="text", id="username",
                          autofocus=true, required=true)}}
      <script>
        if (!("autofocus" in document.createElement("input"))) {
          document.getElementById("username").focus();
        }
      </script>
      <dd>{{form.password.label}}
      <dd>{{form.password(type="password", required=true)}}
      <dd><input type=submit value="Login">
      <dd><a href="/admins">Signup</a>
    </dl>
  </form>
{% endblock %}