{% extends "admin_layout.html" %}
{% block adminbody %}
<div class="container content settings">
  <div class="col-md-12">
    <div class="col-md-offset-2 col-md-5">
      <div class="row">
        <div class="underline"><h1>Settings</h1></div>
        <h2>Learning Record Store</h2>
        <form class="form-inline" role="form" action="/settings" method="POST">
          <div>
            <p>Provide your Wax LRS site name below</p>
            <p><em>ex. https://your_wax_lrs_site_name.waxlrs.com</em></p>
            <div class="form-group">
              <input class="form-control" type="text" name="wax_site" value="{{wax_site}}">
            </div>
          </div>
          <div>
            <label>Domain</label>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">@</div>
                <input class="form-control" type="text" name="domain" value="{{domain}}">
              </div>
            </div>
          </div>
          <div>
            <h3>Basic Credentials</h3>
            <div class="form-group">
              <label class="control-label">Login</label>
              <input class="form-control" type="text"
                     name="login" value="{{login}}">
            </div>
            <div class="form-group">
              <label class="control-label">Password</label>
              <input class="form-control" type="password"
                     name="password" value="{{password}}">
            </div>
            <button class="btn btn-info pentary" value="submit">
              Update Settings
            </button>
          </div>
        </form>
      </div>
      <div class="row">
        <h3>Example xAPI Statements</h3>
        <h4>Scavenger hunt participant begins hunt</h4>
        <p>actor@example.com registered yourhuntname</p>

        <h4>Scavenger hunt participant finds item</h4>
        <p>actor@example.com found youritemname</p>

        <h4>Scavenger hunt participant completes hunt requirements</h4>
        <p>actor@example.com completed yourhuntname with success</p>
      </div>
    </div>
    <div class="col-md-offset-1 col-md-3">
      <div class="row">
        <div class="panel-rect tertiary center">
        <a class="center" href="/reports">
          <i class="glyphicon glyphicon-list-alt hugeicon"></i><br>
          Reports
        </a>
      </div>
      <div class="row">
        <div class="panel-rect tertiary center">
          <a class="center" href="/hunts">
            <i class="glyphicon glyphicon-list-alt hugeicon"></i><br>
            Hunts
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}