{% extends "admin_layout.html" %}
{% block adminbody %}
<div class="container content settings">
  <div class="col-md-12 col-lg-11 col-lg-offset-1">
    <div class="col-md-offset-2 col-md-5">
      <div class="row">
        <div class="underline"><h1>Settings</h1></div>
        {% if error %}
          <p class="alert">Error: {{error}}</p>
        {% endif %}
        {% if form.errors %}
          <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
              {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        {% endif %}
        <h2>Learning Record Store</h2>
        <form role="form" action="/settings" method="POST">
          <div>
            <p>
              Provide your Wax LRS site name below
            </p>
            <div class="form-group">
              <input class="form-control" type="text" name="wax_site" value="{{wax_site}}" placeholder="your wax site name">
            </div>
          </div>
          <div>
            <label>Domain</label>
            <p>
              Your domain identifies the organization you are representing
              By default, we set this to the domain found in your email: {{domain}}
            </p>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">@</div>
                <input class="form-control" type="text" name="domain" value="{{domain}}">
              </div>
            </div>
          </div>
          <div>
            <h3>LRS Basic Credentials</h3>
            <a href="http://support.saltbox.com/support/solutions/articles/1000085089-creating-new">
              About basic credentials
            </a>
            <div class="form-group">
              <label class="control-label">Login</label>
              <input class="form-control" type="text"
                     name="login" value="{{login}}">
            </div>
            <div class="form-group">
              <label class="control-label">Password</label>
              <input class="form-control" type="password"
                     name="password" value="{{password}}">
            </div>
            <button class="btn btn-info pentary" value="submit">
              {% if wax_site %}
                Update Settings
              {% else %}
                Save Settings and Create Hunt
              {% endif %}
            </button>
          </div>
        </form>
      </div>
      <div class="row">
        <h3>Example xAPI Statements</h3>
        <h4>Scavenger hunt participant begins hunt</h4>
        <p>actor@example.com registered yourhuntname</p>

        <h4>Scavenger hunt participant finds item</h4>
        <p>actor@example.com found youritemname</p>

        <h4>Scavenger hunt participant completes hunt requirements</h4>
        <p>actor@example.com completed yourhuntname with success</p>
      </div>
    </div>
    <div class="col-md-offset-1 col-md-2">
<!--       <div class="row">
        <div class="panel-rect tertiary center">
        <a class="center" href="/reports">
          <i class="glyphicon glyphicon-list-alt hugeicon"></i><br>
          Reports
        </a>
      </div> -->
      {% if wax_site %}
      <div class="row">
        <div class="clickable panel-rect tertiary center">
          <a class="center" href="/new_hunt">
            <i class="glyphicon glyphicon-plus hugeicon"></i><br>
            Create Hunt
          </a>
        </div>
      </div>
      <div class="row">
        <div class="clickable panel-rect tertiary center">
          <a class="center" href="/hunts">
            <i class="glyphicon glyphicon-list-alt hugeicon"></i><br>
            Hunts
          </a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}