{% extends "admin_layout.html" %}
{% block adminbody %}
<div class="container content">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <h1>Settings</h1>
      <h2>Learning Record Store</h2>
      <div>
        <form class="form-inline" role="form" action="/settings" method="POST">
          <h3>Endpoint</h3>
          <p>Learning record store endpoint to send Experience API (xAPI) statements.</p>
          <p>All statements from all of your hunts will be sent here:</p>
          <div class="form-group">
            <input class="form-control" type="text" name="endpoint" value="{{endpoint}}">
          </div>

          <h3>Basic Credentials</h3>
          <div class="form-group">
            <label class="control-label">Login</label>
            <input class="form-control" type="text"
                   name="login" value="{{login}}">
          </div>
          <div class="form-group">
            <label class="control-label">Password</label>
            <input class="form-control" type="password"
                   name="password" value="{{password}}">
          </div>

          <button class="btn btn-info" value="submit">Update Settings</button>
        </form>
      </div>
    </div>
    <div class="row">
      <h3>Example xAPI Statements</h3>
      <h4>Scavenger hunt participant begins hunt</h4>
      <p>actor@example.com registered yourhuntname</p>

      <h4>Scavenger hunt participant finds item</h4>
      <p>actor@example.com found youritemname</p>

      <h4>Scavenger hunt participant completes hunt requirements</h4>
      <p>actor@example.com completed yourhuntname with success</p>
    </div>
  </div>

</div>
{% endblock %}