{% extends "admin_layout.html" %}
{% block adminbody %}
  <div class="container content">
    <form class="form-horizontal" role="form" name="new_hunt">
      <div class="col-md-offset-1 col-md-6">
        <h1>{{hunt.name}}</h1>

        <div class="row participant-rules ">
          <div class="panel-header-container">
            <div class="panel-header secondary">
              <h4>Participants limited to
              {% if hunt.participant_rule == 'by_domain' %}
                emails on domain {{hunt.domain}}
              {% elif hunt.participant_rule == 'by_whitelist' %}
                those specified by you
              {% else %}
                anyone who finds the QR codes
              {% endif %}</h4>
            </div>
          </div>
          <div class="panel-default">
            <div class="by_domain">
            </div>
            <table class="table table-condensed" id="registered-participants">
              <thead class="secondary">
                <tr>
                  <th>Registered participants</th>
                </tr>
              </thead>
              <tbody>
              {% if registered_participants %}
                {% for participant in registered_participants %}
                  <tr>
                    <td>{{ participant.email }}</td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr><td>There are currently no registered participants</td></tr>
              {% endif %}
              </tbody>
            </table>
            {% if unregistered_participants and hunt.participant_rule == 'by_whitelist' %}
            <table class="table table-condensed" id="participants-table">
              <thead class="secondary">
                <tr>
                  <th>Allowed but not registered</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for participant in unregistered_participants %}
                <tr>
                  <td>{{ participant.email }}</td>
                  <td></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
          </div>
        </div>
        <div class="row ">
          <div class="panel-header-container">
            <div class="panel-header quarternary">
              <h4>
                {% if hunt.all_required %}
                  Finding all items is required for success
                {% else %}
                  Number of items required for success: {{hunt.num_required or 0}}
                {% endif %}
              </h4>
            </div>
          </div>
          <table class="table table-condensed">
            <tbody>
              {% for item in hunt.items %}
              <tr class="hunt-item-row" item_id={{item.item_id}}>
                <td class="item-name">
                  <span>{{item.name}}</span>
                  <input type="text" name="item_name" style="display: none;">
                </td>
                <td class="item-required">
                  {% if hunt.all_required or item.required %}
                    <span style="display: {{visible if item.required else none}};"
                          class="glyphicon glyphicon-ok"></span> Required
                  {% else %}
                    Not Required
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <span class="pull-right">
            <a href="/hunts/{{hunt.hunt_id}}/qrcodes" target="_blank">
              Printable QR Codes
              <i class="glyphicon glyphicon-print"></i>
            </a>
          </span>
        </div>
        <div class="row ">
          <div class="panel-header-container">
            <div class="panel-header pentary">
              <h4>Welcome a new participant</h4>
            </div>
          </div>
          <div class="panel-body">
            {{ hunt.welcome_message }}
          </div>
        </div>
        <div class="row ">
          <div class="panel-header-container">
            <div class="panel-header pentary">
              <h4>Congratulations</h4>
            </div>
          </div>
          <div class="panel-body">
            {{ hunt.congratulations_message }}
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row">
          <div class=" panel-link tertiary center">
            <a class="center" href="/hunts">
              <i class="glyphicon glyphicon-list-alt hugeicon"></i><br>
              Hunts
            </a>
          </div>
        </div>
        <div class="row">
          <div class=" panel-link tertiary center">
            <a class="center" href="/settings">
              <i class="glyphicon glyphicon-cog hugeicon"></i><br>
              Settings
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}