{% extends "admin_layout.html" %}
{% block adminbody %}
  {% if session.logged_in %}
  <div class="container content">
    <div class="col-md-6 col-md-offset-2">
      <div class="row hunt_name">
        <div class="titlerow primary panel-rect">
          <h2>{{hunt.name}}</h2>
        </div>
      </div>
      <div class="row participant-rules quarternary panel-rect">
        Participants limited to 
        {% if hunt.participant_rule == 'by_domain' %}
          {{domain}} emails
        {% elif hunt.participant_rule == 'by_whitelist' %}
          those specified by you
        {% else %}
          anyone who finds the QR codes
        {% endif %}
      </div>
      {% if hunt.participants %}
      <div class="row quarternary panel-rect">
        <table class="table table-condensed" id="participants-table">
          <thead>
            <tr>
              <th>Participants</th>
              {% if hunt and hunt.participant_rule == 'by_whitelist' %}
              <th>Registered</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for participant in hunt.participants %}
            {% if (hunt.participant_rule == 'by_whitelist') or participant.registered %}
            <tr>
              <td>{{participant.email}}</td>
              <td>
              {% if hunt.participant_rule == 'by_whitelist' and participant.registered %}
                <span class='glyphicon glyphicon-ok'></span>
              {% endif %}
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
      <div class="row secondary panel-rect">
        <div>
          {% if hunt.all_required %}
            Finding all items is required for success
          {% else %}
            num items required for success: {{hunt.num_required}}
          {% endif %}
        </div>
        <div>
          <table class="table table-condensed">
            <tbody>
              {% for item in hunt.items %}
              <tr class="hunt-item-row" item_id={{item.item_id}}>
                <td class="item-name">
                  <span>{{item.name}}</span>
                  <input type="text" name="item_name" style="display: none;">
                </td>
                <td class="item-required">
                  {% if hunt.all_required or item.required %}
                    <span style="display: {{visible if item.required else none}};" class="glyphicon glyphicon-ok"></span> Required
                  {% else %}
                  Not Required
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="pentary panel-rect">
          {{ hunt.welcome_message }}
        </div>
      </div>
      <div class="row">
        <div class="pentary panel-rect">
          {{ hunt.congratulations_message }}
        </div>
      </div>
    </div>
    <div class="col-md-offset-1 col-md-3">
      <div class="row">
<!--           <div class="panel-rect tertiary center">
        <a class="center" href="/reports">
          <i class="glyphicon glyphicon-list-alt hugeicon"></i><br>
          Reports
        </a> -->
      </div>
      <div class="row">
        <div class="panel-rect tertiary center">
          <a class="center" href="/new_hunt">
            <i class="glyphicon glyphicon-plus hugeicon"></i><br>
            Create Hunt
          </a>
        </div>
      </div>
      <div class="row">
        <div class="panel-rect tertiary center">
          <a class="center" href="/hunts">
            <i class="glyphicon glyphicon-list-alt hugeicon"></i><br>
            Hunts
          </a>
        </div>
      </div>
      <div class="row">
        <div class="panel-rect tertiary center">
          <a class="center" href="/settings">
            <i class="glyphicon glyphicon-cog hugeicon"></i><br>
            Settings
          </a>
        </div>
      </div>
      <div class="row">
        <div class="panel-rect tertiary center">
          <a class="center" href="/logout">
            <i class="glyphicon glyphicon-log-out hugeicon"></i><br>
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}