{% extends "user_layout.html" %}
{% block userbody %}
<div id="getstarted-prompt">
  {{welcome}}

  <br>
  <div class="row">
    <form action={{action_url}} method="GET" id="getstarted-form">
      <label for="get_started"></label>
      <button class="btn btn-primary btn-lg form-control" type="submit" id="getstarted">
        Get Started
      </button>
    </form>
  </div>
  <div class="row">
    <a href="/oops" class="btn btn-default btn-lg form-control" type="submit">
      Oops
    </a>
  </div>
</div>
{% endblock %}